.inputField{
    background-color: rgba(12, 12, 169, 0.639);
    width: 50%;
    padding: 25px;
    margin-left: 21rem;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.4rem;
}
.inputField input{
    padding: 10px;
    width: 25rem;
    border-radius: 0.3rem;
    outline: none;
    border: none;
}
.inputField input:focus{
    border: 2px solid rgb(10, 108, 35);
}
.inputField button{
    padding: 10px;
    width: 4rem;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(5, 184, 95, 0.829);
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
.inputField button:hover{
    background-color: green;
}
.heading{
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}
